:root{
    --principal: #022e66;
    --secondary: #000000;
    --third: #ffffff46;
}

.img-container{
    position: relative;
    height: 50%;
    width: 50%;
    background-color: #000000a9;
    border-radius: 20px;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border: 2px solid #000000;
    box-shadow: 0 0 50px 10px #000000;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.img-box .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.img-box{
    border: 1px solid #000000;
}

.img-box1 .img1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img-box1 {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    height: 100%;
    width: 30%;
    background: url(Interstellar1.png);
    background-position: -24px;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    transition: width .6s, border-radius .6s, z-index 0s .6s;
    cursor: pointer;
}

.img-box1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Interstellar2.png);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border-radius: 20px;
    cursor: pointer;
}

.img-box1:hover .img1{
    border-radius: 20px;
}

.img-box1:hover {
    width: 100%;
    border-radius: 20px;
    z-index: 10;
    transition: width .6s, border-radius .6s, z-index 0s 0s;
}


.img-box1:hover::before {
    opacity: 1;
}

.img-box2 {
    position: absolute;
    top: 0;
    right: 35%;
    height: 30%;
    width: 35%;
    background: url(madagascar3-1.png) center/cover;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s .6s;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    cursor: pointer;
    overflow: hidden;
}

.img-box2:hover {
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s 0s;
}

.img-box2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(Madagascar3-2.png) center/cover;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border-radius: 20px;
    pointer-events: none;
}

.img-box2:hover::before {
    opacity: 1;
}

.img-box2:hover .img2{
    border-radius: 20px;
}

.img-box3 {
    position: absolute;
    top: 30%;
    right: 0;
    height: 30%;
    width: 70%;
    background: url(fnaf1.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s .6s;
    box-shadow: inset 0 0 50px #000000a9;
    cursor: pointer;
}

.img-box3:hover {
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s 0s;
}

.img-box3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(fnaf2.png);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border-radius: 20px;
    cursor: pointer;
}

.img-box3:hover::before {
    opacity: 1;
}

.img-box3:hover .img3{
    border-radius: 20px;
}

.img-box4 {
    position: absolute;
    top: 60%;
    right: 0;
    height: 40%;
    width: 35%;
    background: url(Endgame1.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s .6s;
    box-shadow: inset 0 0 50px #000000a9;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

.img-box4 .img4{
    border-bottom-right-radius: 20px;
}

.img-box4:hover .img4{
    border-radius: 20px;
}


.img-box4:hover {
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s 0s;
}

.img-box4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Endgame2.png);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border-radius: 20px;
    cursor: pointer;
}

.img-box4:hover::before {
    opacity: 1;
}

.img-box5 {
    position: absolute;
    top: 60%;
    right: 35%;
    height: 40%;
    width: 35%;
    background: url(piratas1.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s .6s;
    box-shadow: inset 0 0 50px #000000a9;
    cursor: pointer;
}

.img-box5:hover {
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s 0s;
}

.img-box5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(piratas2.png);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border-radius: 20px;
    cursor: pointer;
}

.img-box5:hover::before {
    opacity: 1;
}

.img-box5:hover .img5{
    border-radius: 20px;
}

.img-box6 {
    position: absolute;
    top: 0;
    right: 0;
    height: 30%;
    width: 35%;
    background: url(titanic1.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s .6s;
    box-shadow: inset 0 0 50px #000000a9;
    cursor: pointer;
    border-top-right-radius: 20px;
}

.img-box6:hover {
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: width .6s, height .6s, border-radius .6s, top .6s, right .6s, z-index 0s 0s;
}

.img-box6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(titanic2.png);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    box-shadow: inset 0 0 50px #000000a9;
    border-radius: 20px;
    cursor: pointer;
}

.img-box6:hover::before {
    opacity: 1;
}

.img-box6 .img6{
    border-top-right-radius: 20px;
}

.img-box6:hover .img6{
    border-radius: 20px;
}
