:root{
    --principal: #075e74b4;
    --secondary: #000000;
    --third: #ffffff46;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bricolage-grotesque bricolage-grotesque{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    font-family: 'bricolage-grotesque', sans-serif;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blur-container{
    height: 100%;
    width: 100%;
    background-color: #000000bd;
    backdrop-filter: blur(10px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}


.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #5e5c5c70;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 40px;
    border: 1px solid var(--third);
    font-size: 15px;
    font-weight: bold;
}

.list-item{
    list-style: none;
    text-transform: uppercase;
}


.header-list a{
    position: relative;
    text-decoration: none;
    color: var(--third);
    transition: color .4s;
}

.header-list a:hover{
    color: var(--principal);
}

.inici a{
    color: var(--principal);
}

.inici a:hover{
    color: var(--third);
}

h1{
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to right, var(--principal) 30%, var(--secondary) 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
